 header{
        position:relative;
        margin:auto;
        text-align:center;
        padding:5px;
    }
    nav{
        position:relative;
        margin:auto;
        width:100%;
        height:auto;
        background:black;
    }
    nav ul{
        position:relative;
        margin:auto;
        width:50%;
        text-align:center;
       
    }
    nav ul li{
        display:inline-block;
        width:24%;
        line-height:50px;
        list-style:none;
    }
    nav ul li a{
        color:white;
        text-decoration:none;
    }
    section{
        position:relative;
        padding:20px
    }
    .form_search{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        float: right;
        background: initial;
        padding: 10px;
        border-radius: 10px;
    }

    .form_search .btn_search{
        background: #1faac8;
        color: #FFF;
        padding: 0 20px;
        border: 0;
        cursor: pointer;
        margin-left: 10px;
    }